#NOTES {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#NOTES_TXT {
    color: var(--seguni-color);
}
#NOTES_FORM{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#NOTES_INTITLE {
    width: 70%;
    padding: 10px;
    margin: 1em 1em 0 1em;
    border-radius: 45px;
    border: 1px solid var(--seguni-color);
    transition: var(--transition);
}
#NOTES_INTITLE:focus {
    outline: none;
    transform: scale(1.05);
}
textarea {
    width: 70%;
    height: 20vh;
    padding: 10px;
    margin: 1em;
    border-radius: 22px;
    border: 1px solid var(--seguni-color);
    transition: var(--transition);
    resize: none;
}
textarea:focus {
    outline: none;
    transform: scale(1.05);
}
#NOTES_BUTTON {
    width: 200px;
    padding: 10px 15px;
    border: none;
    border-radius: 45px;
    background-color: var(--seguni-color);
    color: var(--font-1);
}
#NOTES_LIST {
    width: 90%;
    padding: 0 1em 0 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; /* Cambié scroll por auto */
    justify-content: space-evenly;
    overflow-x: hidden;
}

.note_item {
    /*
    width: 70px;
    height: 70px;
    */
    background-color: var(--bg-items);
    margin: 12px;
    padding: 1em;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    box-shadow: var(--shadow);
}

.note_title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.note_content {
    font-size: 14px;
    color: #666;
    margin: 0;
    display: none; /* Oculto por defecto */
}

.note_item_open {
    width: 200px; /* Aumentamos el tamaño cuando está abierta */
    height: auto; /* Permite que crezca según el contenido */
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
}

.note_item_open .note_content {
    display: block;
    width: 100%;
    height: auto;
    font-weight: lighter;
    transform: scale(1);
    transition: var(--transition);
}

.buttons_li {
    display: flex;
    justify-content: space-between;
}
.btn_li {
    border: none;
    padding: 10px 5px 0 5px;
}