#NOTES {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#NOTES_TXT {
    color: var(--seguni-color);
}
#NOTES_FORM{
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea {
    width: 70%;
    height: 20vh;
    padding: 10px;
    margin: 1em;
    border-radius: 22px;
    border: 1px solid var(--seguni-color);
    transition: var(--transition);
    resize: none;
}
textarea:focus {
    outline: none;
    transform: scale(1.05);
}
#NOTES_BUTTON {
    width: 200px;
    padding: 10px 15px;
    border: none;
    border-radius: 45px;
    background-color: var(--seguni-color);
    color: var(--font-1);
}
#NOTES_LIST{
    width: 95%;
    text-align:left;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-evenly;
}
.note_item {
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: #efefef;
    margin: 12px;
    padding: 1em;
    border-radius: 12px;
    transition: var(--transition);
  }
.note_item:active{
    width: auto;
    height: auto;
    box-sizing: content-box;
    transform: scale(1.1);
}