#HEADER {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#LOGO {
  width: 30%;
  margin: 0 1em;
}
#LOG_OUT {
  margin: 0 1em;
}
@media (min-width: 600px) {
  #LOGO {
    width: 15%;
  }
}
@media (min-width: 1024px) {
  #LOGO {
    width: 10%;
  }
}
