:root {
  --seguni-color: #00457d;
  --font-1: #fff;
  --transition: all ease 200ms;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  letter-spacing: 0.5px;
}
#DASHBOARD {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.5fr 5fr;
  gap: 0px 0px;
  grid-template-areas:
    'navbar header'
    'navbar app';
}
#NAVBAR {
  grid-area: navbar;
}
#HEADER {
  grid-area: header;
}
#FRAMEAPP {
  grid-area: app;
  position: relative;
  width: 100%;
}
.aplication {
  visibility: hidden;
  position: absolute;
}
button {
  cursor: pointer;
  transition: var(--transition);
}
button:hover {
  transform: scale(1.08);
}
