#DATABASE {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#DATA_TXT {
    color: var(--seguni-color);
    text-align: center;
}

#DATA_FORM{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#DATA_BTN {
    margin-top: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 45px;
    background-color: var(--seguni-color);
    color: var(--font-1);
}

#DATA_LIST{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data_base_item{
    width: 80%;
    background-color: var(--bg-items);
    margin: 20px 0;
    padding: 10px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    list-style: none;
}