#drawioFrame{
    position: fixed;
    min-width: 94%;
    min-height: 94%;
    top: 2%;
    bottom: 2%;
    right: 2%;
    left: 5%;
    border-radius: 25px;
    padding: 10px;
    background-color: #dadada;
   
}
#OPEN_DRAW{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 1.5em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: var(--seguni-color);
    color: var(--font-1);
}