body {
    text-align: center;
}
#loginForm{
    position: fixed;
    top: 20%;
    bottom: 20%;
    right: 20%;
    left: 20%;
    box-shadow: var(--shadow);
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 75%;
    margin: 5px 0;
    padding: 10px;
  }
button {
    padding: 10px 15px;
    border: none;
    border-radius: 45px;
    background-color: var(--seguni-color);
    color: var(--font-1);
}